<div class="showcase">
    <div class="showcase-top">
        <h1>Our Story</h1>
    </div>
</div>
<div class="container">
    <div class="main">
        <span class="icon"><i class="fas fa-users mt-5"></i></span>
        <p class="text" id="p1">  
        Developers of the New Age is a family owned business started by three 
        family members with aspirations of self ownership and community assistance. 
        The company is based out of southern California, but has more than infinite 
        digital offices all over the (World Wide Web). Teamwork, leadership, and 
        innovation are traits we’ve encoded into our business and only wish for it
         to evolve from that. Each member found their path to technology in a 
         peculiar way. Graphic design, programming, digital art, and web 
         development birthed an  idea which is now a reality. Community, 
         work ethic, persistence, and honesty created the building blocks of 
         D.N.A. and we would like to share our experience and expertise with the 
         world.
        </p>
        <p class="text mt-3 mb-5 ">
            D.N.A. Family
        </p>
    </div>
</div>
