.showcase {
    height: 40rem !important;
}
.showcase-top {
    background-image: url('../../../assets/optimized_mountains.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    max-width: 100%;
}
.showcase-top h1{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    padding-top: 19rem;
    font-size: 72px;
    text-shadow: 2px 2px 5px blue;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon {
    font-size: 35px;
    color: teal;
}
.text {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    color: #006e96;
}
.container {
    width: 60rem;
}

@media(max-width: 790px) {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media(max-width: 768px) {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .showcase-top h1{
        font-size: 3rem;
    }
    .text {
        font-size: 1.2rem;
    }
    #p1 {
        text-align: left;
    }
    .container {
        width: 90%;
    }
}
    