<div id="footer">
  <div id="background">
    <div id="about">
      <h3>DNA Devs</h3>
      <hr>
      <p>Developers you can trust.</p>
      <p>Our code is efficient and fast.</p>
      <hr class="min">
    </div>
    <div id="contact">
      <h3>Contact</h3>
      <hr>
      <a href="mailto:customersupport@dnadevelopers.live">
        <p>customersupport@dnadevelopers.live</p>
      </a>
      <hr class="min">
    </div>
    <div id="location">
      <h3>Location</h3>
      <hr>
      <p>Los Angeles, CA</p>
      <hr class="min">
    </div>
    <div id="social-icons">
      <h3>Follow Us!</h3>
      <hr>
      <div class="col-sm-6">
        <a href="https://www.twitter.com/n_developers" target="_blank">
          <i class="fab fa-twitter-square"><span class="soc">Twitter</span></i>
        </a>
        <a href="https://www.instagram.com/dnadevelopers" target="_blank">
          <i class="fab fa-instagram"><span class="soc">Instagram</span></i>
        </a>
        <hr class="min">
      </div>
    </div>
    <hr class="min">
  </div>
  <div id="copy">
    &copy; 2019 - DNA Developers | All rights reserved
  </div>
</div>
