<div id="background">
  <div class="container">
      <div class="services">
        <div class="logo">
            <i id="design" class="fas fa-briefcase    "></i>
        </div>
        <div class="text">
            <p>WEB DESIGN</p>
            <small>We can design a beautiful website for our clients if they need help with expressing their creativity.</small>
        </div>
      </div>
      <div class="services">
        <div id="code" class="logo">
            <i class="fas fa-code    "></i>
        </div>
        <div class="text">
            <p>WEB DEVELOPMENT</p>
            <small>We build a variety of different websites for our clients, we can also add special features that will make your website stand out from your competitors' websites.</small>
        </div>
      </div>
      <div class="services">
        <div id="computer" class="logo">
            <i class="fas fa-desktop    "></i>
        </div>
        <div class="text">
            <p>WEB HOSTING/DOMAIN</p>
            <small>We can acquire domain names and connect them to host servers for our clients.</small>
        </div>
      </div>
      <div class="services">
        <div id="store" class="logo">
            <i class="fa fa-credit-card    "></i>
        </div>
        <div class="text">
            <p>E-COMMERCE</p>
            <small>We create E-commerce stores for customers who are selling products online.</small>
        </div>
      </div>
      <div class="services">
        <div id="marketing" class="logo">
            <i class="fas fa-calculator"></i>
        </div>
        <div class="text">
            <p>DIGITAL MARKETING
              </p>
            <small>We offer Search Engine Optimization and many other forms of marketing to our customers to ensure that you are found on the world's most popular search engines and social media websites.</small>
        </div>
      </div>
      <div class="services">
        <div id="maintenance" class="logo">
            <i class="fas fa-pen-square    "></i>
        </div>
        <div class="text">
            <p>MAINTENANCE</p>
            <small>Don't want to manage your site? Don't worry, we'll do it for you. We will run your website for you.</small>
        </div>
      </div>
  </div>
</div>